# =========================================================
# LOGS
# =========================================================

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# =========================================================
# DEPENDENCIAS Y BUILDS
# =========================================================

node_modules
dist
dist-ssr


# =========================================================
# VARIABLES DE ENTORNO
# =========================================================

.env
.env.local
.env.*.local


# =========================================================
# ARCHIVOS LOCALES
# =========================================================

*.local


# =========================================================
# EDITORES E IDE
# =========================================================

.vscode/*
!.vscode/extensions.json
.idea

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?